[tool.black]
# Black formatter configuration
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | \.devcontainer
)/
'''

[tool.flake8]
# Flake8 configuration (for reference, actual config in .flake8)
max-line-length = 88
max-complexity = 10
ignore = ["E203", "E501", "W503"]
exclude = [
    ".git",
    "__pycache__",
    ".venv",
    "venv",
    ".eggs",
    "*.egg",
    "build",
    "dist",
    ".devcontainer",
]
